@charset "UTF-8";

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
  background-size: 100% 100%;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}


/*----------------------------ユーザー一覧----------------------------*/
.users {
	padding: 10px;
	border-bottom: 2px solid #ddd;
}



/* --------------------------スタイルテスト---------------------------- */

.questionBox {
 position: relative;
 margin: 2rem auto;
 padding: 1.2rem;
 width: 90%;
 border: 3px solid rgba(40,120,120,0.8);
 color: #555555;
 background-color: #fff;
 border-radius: 8px;
}
.questionTitle {
 position: absolute;
 left: 20px;
 top: -20px;
 padding: 0 .5rem;
 font-weight: bold;
 font-size: 1.5rem;
 color: rgba(40,120,120,0.8);
 background-color: #fff;
}



/* --------------------------サマリー表示---------------------------- */

.driveBox {
 position: relative;
 margin: 2rem auto;
 padding: 1.2rem;
 width: 90%;
 border: 3px solid rgba(255,0,0,0.8);
 color: #555555;
 background-color: #fff;
 border-radius: 8px;
}
.driveTitle {
 position: absolute;
 left: 20px;
 top: -20px;
 padding: 0 .5rem;
 font-weight: bold;
 font-size: 1.5rem;
 color: rgba(255,0,0,0.8);
 background-color: #fff;
}

.analyzeBox {
 position: relative;
 margin: 2rem auto;
 padding: 1.2rem;
 width: 90%;
 border: 3px solid rgba(0,0,255,0.8);
 color: #555555;
 background-color: #fff;
 border-radius: 8px;
}
.analyzeTitle {
 position: absolute;
 left: 20px;
 top: -20px;
 padding: 0 .5rem;
 font-weight: bold;
 font-size: 1.5rem;
 color: rgba(0,0,255,0.8);
 background-color: #fff;
}

.createBox {
 position: relative;
 margin: 2rem auto;
 padding: 1.2rem;
 width: 90%;
 border: 3px solid rgba(255,242,0,0.8);
 color: #555555;
 background-color: #fff;
 border-radius: 8px;
}
.createTitle {
 position: absolute;
 left: 20px;
 top: -20px;
 padding: 0 .5rem;
 font-weight: bold;
 font-size: 1.5rem;
 color: rgba(255,242,0,0.8);
 background-color: #fff;
}

.volunteerBox {
 position: relative;
 margin: 2rem auto;
 padding: 1.2rem;
 width: 90%;
 border: 3px solid rgba(0,255,0,0.8);
 color: #555555;
 background-color: #fff;
 border-radius: 8px;
}
.volunteerTitle {
 position: absolute;
 left: 20px;
 top: -20px;
 padding: 0 .5rem;
 font-weight: bold;
 font-size: 1.5rem;
 color: rgba(0,255,0,0.8);
 background-color: #fff;
}

.copyright {
	 border-top: 2px solid #333;
	 text-align: center;
	 margin: 5px 10px 20px;
}

/* --------------------------スタイルテスト表示---------------------------- */


input[type=radio] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/* ----------------------------     バリデーション     --------------------------*/

.error {
	color: #8a0421;
	border-color: #dd0f3b;
	background-color: #ffd9d9;
}
